*{
    margin:  12px;
    padding: 0;
    box-sizing: border-box;
}
.shoe_company{
    padding: 4px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.table{
    font-family: Arial,  sans-serif;
    border-collapse: collapse;
    width: 100%;
}
.td,th{
    border: 1px solid aqua;
    text-align: left;
    padding: 8px;
}
.tr:nth-child(even){
    background-color: aquamarine;
}
